<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="http://eclipse.org/smarthome/schemas/config-description/v1.0.0"
	xsi:schemaLocation="http://eclipse.org/smarthome/schemas/config-description/v1.0.0
		http://eclipse.org/smarthome/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:tuya:config">
		<parameter name="id" type="text" required="true">
			<label>Device id (devId)</label>
			<description>Device id of the smart power plug (found by intercepting Tuya app traffic)</description>
		</parameter>
		<parameter name="key" type="text" required="true">
			<label>Local encryption key (localKey)</label>
			<description>Local encryption key (found by intercepting Tuya app traffic)</description>
		</parameter>
		<parameter name="version" type="text" required="true">
			<label>API version</label>
			<default>3.3</default>
			<description>Device API version (typically 3.3)</description>
		</parameter>
        <parameter name="ip" type="text" required="false">
            <advanced>true</advanced>
            <label>IP address</label>
            <description>Device IP address (leave empty to listen for broadcast)</description>
        </parameter>
 	</config-description>

</config-description:config-descriptions>
